* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    
}

.todo-list-container{
    margin-top: 50px;
    border: 1px solid black;
    padding: 20px;
    

}

.todo-list-container ul{
    list-style-type: none;
}

.todo-list-container li{
    padding: 10px 10px;
    margin: 10px 0px;
    background-color: lightgoldenrodyellow;

   
    
}

h1{
    font-size: 3.0rem;
    text-align: center;
    margin-top: 50px;
}

h2{
    margin-top: 30px;
}

.done{
    text-decoration: line-through;
}